.mobile-project-item{
    background-color: #011627;
    padding: 2em;
    margin: 2em;
    border: #ffff 10px solid;
    border-radius: 30px;
}

.carousel-item {
    width: 40%;
}

.carousel-item img {
    /* border: #ffff 10px solid; */
    border-radius: 10px;
}

.carousel {
    width: 100%;
}

.mobile-project {
    margin: 4em;
    
    color: #ffff;
    padding: 2em 0;
    border-radius: 10px;    
}

.underline {
    text-decoration: underline;
}

.mobile-project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-project-text p {
    text-align: center;
    margin: 1em 0;
}


.mobile-project-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-text {
        color: #ffff;
        text-decoration: none;
        cursor: pointer;
}

.link-text:hover {
    text-decoration: underline !important;
    font-weight: 700;
    color: white;
    
}

.reduce-title-space {
    margin-bottom: 0 !important;
    padding: 0;
    color: #7B9DC7;
}

@media only screen and (max-width: 600px) {
    .mobile-project {
        margin: 4em 1.5em;
    }
}